# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.sqlite3
*.db
staticfiles/
collectstatic/
media/

# Environment & secrets
.env

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
